#hero {
	min-height: 1375px;
}

#container1 {
	min-height: 624px;
	padding: 90px 0 0;
}

.container1_info {
	text-align: center;
	width: 100%;
	max-width: 860px;
	margin: 0 auto;
}

.container1_info p {
	margin-top: 15px;
}

#container1 img {
	height: 236px;
}

.container1_hr {
	width: 60px;
	height: 16px;
	background-color: #ffe636;
	margin: 0 auto;
}

#partners {
	margin-top: 35px
}

#container2 {
	min-height: 340px;
}

#container3 {
	min-height: 985px;
	padding: 109px 0;
}

#container3_info {
	width: 100%;
	max-width: 500px;
}

.container3_info2 {
	display: flex;;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 30px;
}

.container3_info2 img {
	width: 22px;
	margin-right: 30px;
}

.container3_info2_text {
	width: 100%;
	max-width: 365px;;
}

#containerDummy {
	min-height: 500px;
}