#hero {
	min-height: 1375px;
}

.container {
	max-width: 1120px !important;
}

.pt-60px {
	padding-top: 49px;
}

.mt-50px {margin-top: 50px;}

#btm1 {
	min-height: 624px;
	padding: 40px 0 0;
}


#btm1 img {
	height: 236px;
}

.btm1_hr {
	width: 60px;
	height: 16px;
	background-color: #ffe636;
	margin: 0 auto;
}

#partners {
	margin-top: 35px
}

#container2 {
	min-height: 340px;
}

#container3 {
	min-height: 985px;
	padding: 109px 0 40px;
}

#container3_info {
	width: 100%;
	max-width: 500px;
}

.container3_info2 {
	display: flex;;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 30px;
}

.container3_info2 img {
	width: 22px;
	margin-right: 30px;
}

.container3_info2_text {
	width: 100%;
	max-width: 365px;;
}


#container4 {
	min-height: 1179px;
}

.container4_info {
	max-width: 940px;
	margin: 0 auto;
}

.container4_info2_info {
	width: 100%;
	max-width: 230px;;
}



#container5 {
	min-height: 905px;
	padding: 160px 0 40px;

}

.container5_info {
	width: 100%;
	max-width: 465px;
	margin-top: 125px;
}


#container6 {
	background-color: #b05df1;
	min-height: 686px;
	padding: 135px 0;
}

.container6_info {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.container6_boxes > .container6_box {
	width: 100%; 
	max-width: 400px;
	min-height: 240px;
	border: 1px solid #fff;
	border-radius: 12px;
	text-align: center;
}


#container7 {
	min-height: 705px;
	padding: 95px 0 40px;
	background-color: #FBF7E9;
}

.container7_info {
	width: 100%;
	max-width: 307px;;
}

.container7_info ul {
	margin-top: 40px;
}

.container7_info ul li:first-child {
	margin-top: 0 !important;
}

.container7_info ul li {
	margin-top: 7px;
}

#container7_boxes_con {
	width: 100%;
	max-width: 752px;
}


.container7_boxes .container7_box {
	width: 100%;
	max-width: 360px;
	min-height: 453px;
	padding: 30px 25px;
}

.container7_boxes h3 {
	margin-top: 27px;
}

.container7_boxes p {
	margin-top: 17px;
}

.price {
	display: block;
	margin-top: 40px;
	
}

.price_info {
	display: block;
}

.container7_box a {
	margin-top: 25px;
}

#section8 {
	min-height: 1072px;
}

.section8_main {
	padding: 95px 0 0;
}

.section8_main_info p {
	margin-top: 12px;
}

.btm8_main_boxes {
	margin-top: 40px;
}

.btm8_main_box {
	width: 395px;
	min-height: 455px;
	padding: 35px 35px 25px;
}

.btm8_main_box p {
	margin-top: 25px;
}

.btm8_main_box .name {
	margin-top: 20px;
}

.btm8_main_info2 {
	margin-top: 100px;
}

#btm9 {
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

.btm9_main img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.btm9_main {
	min-height: 780px;
}

.btm10_main {
	min-height: 465px;
}

.footer_main {
	min-height: 865px;
}

/* DUMMY */

#containerDummy {
	min-height: 500px;
}


